<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>
    <script src="../media/js/main.js"></script>
</head>
<body>

<form action="/apiSNN/predecir/" method="post" enctype="multipart/form-data" onsubmit="return false;" id="myImage" class="col-12">

    <div class="row form-results text-center justify-content-center">
        <h5 class="mt-4 ml-4 mr-4 mb-5">Ingrese URL de la imagen para clasificarla</h5>
        <form action="/apiSNN/predecir/" method="post" enctype="multipart/form-data" onsubmit="return false;" id="myImage" class="col-12">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <label>Ingrese URL de la imagen</label>
                <input type="text" name="URL" id="URL"></p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn input-dark btn-lg btn-block" id="class-btn"> <i class="fas fa-brain"></i> &nbsp;Clasificar</button>
            </div>
        </form>
    </div>


    <div class="row form-results e-hidden" style="margin-top: 50px;" id="results-table">
        <div class="col-12">
            <div class="row justify-content-center e-hidden" id="loading">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="table-responsive">
                <table class="table  text-light" id="table">



                </table>
            </div>
        </div>
    </div>


</form>
</body>
</html>